@import url(https://fonts.googleapis.com/css?family=Righteous);

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 200px;
  width: 100%;

  background: linear-gradient(black, gold);
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.infoBox {
  width: 20%;
  height: 100px;
  text-shadow: #FC0 1px 0 10px;

  font-family: 'Righteous', cursive;
  font-size: 40px;
  color: white;
  margin: 0;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}



.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;

  background-size: cover;
  display: table;
  background-attachment: fixed;
}


/* 
MEDIA QUERY
*/

@media all and (max-width: 479px) {
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    height: 200px;
    width: 190%;
  
    background: linear-gradient(black, gold);
    background-size: cover;
    display: table;
    background-attachment: fixed;
  }
}

@media (min-width: 480px) and (max-width: 780px) {
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    height: 200px;
    width: 190%;
  
    background: linear-gradient(black, gold);
    background-size: cover;
    display: table;
    background-attachment: fixed;
  }

  .infoBox {
    width: 20%;
    height: 100px;
    text-shadow: #FC0 1px 0 10px;
  
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: white;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: 781px) and (max-width: 979px) {
  .banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    height: 200px;
    width: 190%;
  
    background: linear-gradient(black, gold);
    background-size: cover;
    display: table;
    background-attachment: fixed;
  }

  .infoBox {
    width: 20%;
    height: 100px;
    text-shadow: #FC0 1px 0 10px;
  
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: white;
    margin: 0;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}